In [7]:
#Function's
def is_even(num):
    """
    this function returns given num is odd/even
    input - any valid integer
    output - even/odd
    created on - 11/Jan/2026
    """
    if type(num) == int:
    
        if num % 2 == 0:
            return "even"
        else:
            return "odd"
    else:
        return "Abe Chutiya hai kya..? integer daal"

In [4]:
for i in range(1,11):
    x = is_even(i)
    print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

In [8]:
is_even("Hello world")

'Abe Chutiya hai kya..? integer daal'

In [9]:
#types of argument
# 1> Default argument
# 2> Positional argument
# 3> Keyword argument

#Default argument
def power(a = 1, b = 1):
    return a**b
    
power(2)

2

In [10]:
#positional argument
power(2,3)

8

In [11]:
#keyword argument
power(b = 3, a = 2)

8

In [12]:
#*args and **kwargs

def multiply(*args):
    product = 1
    for i in args:
        product = product * i
    return product

In [13]:
multiply(1,2,3,4,5,78,5,3)

140400

In [17]:
#**kwargs
def display(**kwargs):
    for (key, value) in kwargs.items():
        print(key,'->', value)
display(india = "Delhi", Nepla = "Kathmandu")

india -> Delhi
Nepla -> Kathmandu

In [21]:
def g(y):
    print(x)
    print(x+1)
x = 5
g(x)
print(x)

5
6
5

In [24]:
def f(y):
    x = 1
    x += 1
    print(x)
x = 5
f(x)
print(x)

2
5

In [27]:
def f(y):
    x += 1
x = 5
f(x)
print(x)

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [28]:
def h(y):
    global x
    x += 1
x = 5
h(x)
print(x)

6

In [30]:
def g(x):
    def h():
        x = 'abc'
    x = x + 1
    print('in g(x): x = ', x)
    h()
    return x

In [31]:
x = 3
x = g(x)

in g(x): x =  4

In [32]:
def f():
    def x(a,b):
        return a+b
    return x
val = f()(3,4)
print(val)

7

In [33]:
#lambda function
a = lambda x: x**2
a(2)

4

In [34]:
x = lambda x,y: x+y
x(2,3)

5

In [35]:
a = lambda s: 'a' in s
a('Hello')

False

In [36]:
b = lambda x: 'even' if x%2 == 0 else 'odd'
b(7)

'odd'

In [39]:
def squre(x):
    return x**2
def transform(f,l):
    output = []
    for i in l:
        output.append(f(i))
    print(output)

l = [1,2,3.4,5]
# transform(squre, l) #-> squre ki jagah lambda function use kar sakte hai
transform(lambda x: x**2, l)

[1, 4, 11.559999999999999, 25]

In [41]:
#map
list(map(lambda x: x**2, [1,2,3,4]))

[1, 4, 9, 16]

In [43]:
#odd/even labelling of list item
l = [1,2,3,4,5]
list(map(lambda x:'even' if x%2 == 0 else 'odd', l))

['odd', 'even', 'odd', 'even', 'odd']

In [46]:
users = [
    {
        'name': 'Rahul',
        'age': 45,
        'gender': 'male'
    },
    {
        'name': 'Nitish',
        'age': 33,
        'gender': 'male'
    },
    {
        'name': 'Ankita',
        'age': 50,
        'gender': 'female'
    }
]

list(map(lambda users:users['gender'], users))

['male', 'male', 'female']

In [47]:
#filter
l = [3,4,5,6,7]
list(filter(lambda x: x>5, l))

[6, 7]

In [50]:
fruites = ['apple','guava','cherry']
list(filter(lambda x: x.startswith('a'), fruites))

['apple']

In [51]:
#reduce
import functools
functools.reduce(lambda x,y: x+y, [1,2,4,5,6])

18

In [53]:
#find min from list
functools.reduce(lambda x,y: x if x<y else y, [1,2,4,5,6])

1