Print Function

In [1]:
print('hello', 1, 4, True, sep = '/')

hello/1/4/True

In [2]:
#end= funtion
print("hello")
print("world")

hello
world

both print variable print output seprately
when we want in single line both print output
then use 'end =' varibale

In [3]:
#eg:
print("hello", end = '-')
print("world")

hello-world

Data Types in python

In [6]:
#integer
print(5)
#python can handle max size of integer is :->
print(1e308) #above 308 it's infinite

5
1e+308

In [8]:
#Decimal / Float
print(8.9)
#decimal ki integer ke baad floating number ki ranhe 7e308 tak hai
print(7e307)

8.9
7e+307

In [9]:
#bool data type
print(True)
print(False)

True
False

In [10]:
#Text / string
print("Hello World!")
#in python there are no char

Hello World!

In [11]:
#Complex Number
print(5 + 6j)

(5+6j)

In [12]:
#Array/List[]
print([10,20,30,40])

[10, 20, 30, 40]

In [13]:
#Tuple
print((5,8,7,6,3))

(5, 8, 7, 6, 3)

In [14]:
#sets
print({1,2,3,4})

{1, 2, 3, 4}

In [16]:
#Dictionary
print({'Name':'Vishal', 'Name1':'Dhiresh'})

{'Name': 'Vishal', 'Name1': 'Dhiresh'}

In [5]:
input("Apna Naam Batao")

'Vishal'

In [6]:
input("enter FNumber: ")

'56'

In [ ]:
fnum = int(input("Enter FNum: ")) #if int nahi likha to unversally vo string me return hoga
snum = int(input("Enter Second Number:"))
result = fnum + snum
print(type(fnum), type(snum))
print(result)

<class 'int'> <class 'int'>
25

Type Conversion

Implicit Vs Explicit

In [ ]:
print(5*6.5)
print(type(5), type(6.5))

32.5
<class 'int'> <class 'float'>

NameError: name 'Q' is not defined