In [1]:
n = int(input("Enter N: "))

result = 0
fact = 1

for i in range(1, n+1):
  fact = fact * i
  result = result + i/fact
print(fact)

120

Patterns
-> Nested Loops

In [4]:
n = int(input("Enter N: "))

for i in range(1, n+1):
  for j in range(1, i):
    print("*", end = " ")
  print()

*
* *
* * *
* * * *

In [14]:
n = int(input("Enter N: "))

for i in range(1, n+1):
  for j in range(1, n-i+1):
    print(" ", end = " ")
  for k in range(n-i, n):
    print("*", end = " ")
  print()

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

In [17]:
n = int(input("Enter N: "))

for i in range(1, n+1):
  for j in range(1, n-i+1):
    print("*", end = " ")
  print()

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [25]:
n = int(input("Enter N: "))
for i in range(1, n+1):
  for j in range(1, i+1):
    print(" ", end= " ")
  for k in range(i, n+1):
    print("*", end = " ")
  print()

  * * * * * * * * * *
    * * * * * * * * *
      * * * * * * * *
        * * * * * * *
          * * * * * *
            * * * * *
              * * * *
                * * *
                  * *
                    *

In [28]:
n = int(input("Enter N: "))

for i in range(1, n+1):
  for j in range(1, i+1):
    print(j, end = " ")
  for j in range(i-1, 0, -1):
    print(j, end= " ")
  print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [37]:
lower = int(input("Entr Lower Range: "))
upper = int(input("Enter Upper Range: "))

for i in range(lower, upper+1):
  for j in range(2, i):
    if i % j == 0:
      break
  else:
    print(i)

1
2
3
5
7

STRING

In [38]:
s = 'Hello' #single string
s = "Hello" #single string
s = '''Hello''' #multiline string
s = str('Hello')
print(s)

Hello

In [45]:
#Indexting
s = 'Hello World'
print(s[1 : ])

ello World

In [51]:
s = 'Hello World'
print(s[ : -6: -1])

dlroW

In [57]:
print(s[-1:-6: -1])

dlrow

In [ ]:
s = "Hello My Name is Vishal"
s[0] = 'k'
#error bcoze string is immutabel or updation & deletion is not possible

TypeError: 'str' object does not support item assignment

Opereation on String -> 1) Arithmatic Operation 2) Realtional Operator 3) Logical Opertor 4) MemberShip Operatior

In [ ]:
#python support's only two arithmatic operation's 1) Concatination(+) 2) Multiplication(*)
# 1> Concatination(+)
s = "Vishal"
p = "Sarvade"

print(s + " " + p)

Vishal Sarvade

In [66]:
# 2> Multiplication

s = "Delhi "
print(s*5)

Delhi Delhi Delhi Delhi Delhi

In [ ]:
#Relational Operator
#1) ==
s = "Delhi"
p = "Mumbai"
s == p

#ASCII Values pe khelta hai Agar same hai to True Nhi To False

#2) != 
s != p #-> True
s > p #-> False
s<p #-> True

s>= p #-> False
s<=p #->True

False

In [74]:
#Logical Operator
#logical operator me ' ' isko false kehte hai aur agar kisi bhi word se fill hoga to true kehenge
s = "Vishal"
p = "Sarvade"

s and p #-> "Sarvade"
#agar dono True Hoge to jo last Wala true hoga vo Return Kar dega
s or p #-> "Vishal"
#agar dono me se koi ek bhi true hai to jo pehla wala true hoga use return kar dega
not s
#agar true hoga to false and vice versa bhave karega

False

In [78]:
#LOOP's
#1) For Loop
for i in 'Delhi':
  print("Pune", end = " ")

Pune Pune Pune Pune Pune

In [ ]:
#membership Operator
#1) in

'D' in 'Delhi' #-> True

#2) not in

'D' not in 'Delhi' #-> False

False

Common Function in Python(Apply on all type of data types)

In [ ]:
#1) len()
len("Hello World") #retun length of string as 11

#2) max()
max("Hello World") #return max ASCII value character in string

#3) min()
min("Hello World") #return min ASCII value character in string

#4) sorted()
sorted("Hello World") #return list of character in sroted ascending format base on ASCII values
sorted("Hello World", reverse=True) #in sorted descending format

['r', 'o', 'o', 'l', 'l', 'l', 'e', 'd', 'W', 'H', ' ']

Functions Only For String

In [ ]:
#1) capitalized
s = "hello world"
s.capitalize() #capitalize starting character of string

#2) title()
s = "hello world"
s.title() #capitalized each sarting character of sub string

#3) upper()
s = "hello world"
s.upper() #convert each character of string in uppercase

#4) lower()
s = 'HELLO WORLD'
s.lower() #convert each character of string in lowercase

#5) swapcase()
s = 'Hello World'
s.swapcase() #convert lower character into upper and vice versa

'hELLO wORLD'

Other Function's 
1) count() 2) find() 3) index()

In [94]:
#count()
s = "my name is vishal"
s.count("i") #return occurance of i and any substring

#find()
s = "my name is Vishal"
s.find("is") #return first occurace in string 

#index()
s = "my name is Vishal"
s.index("is") #same as find

8

In [ ]:
#1) endswith()
s = "my Name is Vishal"
s.endswith('is') #if string is end with is then it will return true

#2) startswith()
s = "my name is Vishal"
s.startswith('my') #return true if string start with my

#3) format()

s = "my name is {} and i am {}"
s.format('Vishal', 'Male')

'my name is Vishal and i am Male'

In [ ]:
#isalnum()
#return true if string contain's only alphabate's and numbers
s = 'Vishal123'
s.isalnum()

#isaplha()
s = 'Vishal@12'
s.isalpha() #return true if and only if string contains alphabate's

#isdigit()
#return's true if string contain's only digit's
s = '1234'
s.isdigit()

#isidentifier()
s = "Vishal123"
s.isidentifier()
#return true if string is in identifier's form

True

#Most IMP function's 
1) split()
2) join()

In [ ]:
#1) split()
s = "my name is vishal"
s.split() # split string in to list of sub-string's ['my', 'name', 'is', 'vishal']
s.split('i') # this will break i from string and from list of substring's

#2) join()

" ".join(['my', 'name', 'is', 'vishal'])

#this will join list of string into proper string -> 'my name is vishal'

'-'.join(['my', 'name', 'is', 'vishal']) #-> 'my-name-is-vishal'

'my-name-is-vishal'

In [ ]:
#replace()
s = "hi my name is vishal"
s.replace('vishal', 'dhiresh') #-> 'hi my name is dhiresh'

#strip()

s = ' hi '
s.strip() #-> 'hi' it removes leading and trailing spaces

'hi'