In [8]:
#tuple
#creation of tuple
#1 empty tuple

t1 = ()
print(type(t1))

#2 Single item tuple
t1 = (1,)
print(type(t1))

#3 Homogeneous tuple
t1 = (1,2,3,4)
print(t1)

#4 Heterogeneous Tuple
t1 = (1,2,3,True,[1,2,3])
print(t1)

#5 2D tuple
t1 = (1,2,3,(4,5))
print(t1)

#6 type conversion
t1 = tuple('Hello')
print(t1)

<class 'tuple'>
<class 'tuple'>
(1, 2, 3, 4)
(1, 2, 3, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('H', 'e', 'l', 'l', 'o')

In [15]:
#Accessing Item's 
#1 indexing
#2 Slicing

t1 = (1,2,3,4)
print(t1[0])
print(t1)
print(t1[:3]) #-> Slicing
print(t1[-1]) #-> negative idexing is also works
print(t1[::-1])

1
(1, 2, 3, 4)
(1, 2, 3)
4
(1, 2, 3, 4)

In [24]:
t1 = (1,2,3,4)
del t1 #delete t1 from memory

In [27]:
#Arithmatic operation's
#1> concatinate
t1 = (1,2,3,4)
t2 = (5,6,7,8)
print(id(t1))
print(id(t2))
print(id(t1 + t2)) #concat both tuple and stro into new memory
print(t1 + t2)

1477377230144
1477375661840
1477378987456
(1, 2, 3, 4, 5, 6, 7, 8)

In [29]:
#2> multiplication(*)
print(t1 * 3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [31]:
#membership(in or not in)
print(1 in t1) #-> true
print(1 not in t1) #-> false

True
False

In [33]:
#loop's
for i in t1:
    print(i)

1
2
3
4

In [37]:
#function's 
#len(),sum(),min(),max(),sorted(),coutn(),index()
print(len(t1))
print(sum(t1))
print(min(t1))
print(max(t1))
print(sorted(t1))
print(t1.count(2))
print(t1.index(3))

4
10
1
4
[1, 2, 3, 4]
1
2

In [39]:
#zip()
t1 = (1,2,3,4)
t2 = (5,6,7,8)
print(tuple(zip(t1,t2)))

((1, 5), (2, 6), (3, 7), (4, 8))

In [43]:
#SET's 
#creation of 2D set is not possible
#creation
#1 empty()
s = set()
print(s)

#2 homogeneous
s = {1,2,3,4,5}
print(s)

#hetrogeneous
s = {1,4.5,'hello',True}
print(s) #not print True bcoz python treat's True as 1 and one is already exist and set does not containe duplicate's

set()
{1, 2, 3, 4, 5}
{1, 4.5, 'hello'}

In [46]:
#adding item's
t1 = {1,2,3,4}
t1.add(5)
print(t1)

#update
t1.update([6,7,8])
print(t1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

In [54]:
#deletion
#1> del
s = {1,2,4,5,6,8}
# del s

#.discard(value)
s.discard(1)
print(s)

#pop() randome value ko delete kar denga
s.pop()

#.clear()
s.clear() #empty set return karenga
print(s)

{2, 4, 5, 6, 8}
set()

In [73]:
#operation's on set
# 1> union()/union_update/ |
# 2> intersection()/intersection_update()/&
# 3> difference()/difference_update()/-
# 4> symmetric_difference()/symmentric_difference_update()/^
# 5> membership(in or not in)
# 6> loop's(for loop)
# 7> isdisjoint() if both set have same values then return false and vice versa
# 8> issubset() if s1 is subset of s2 then return true
# 9> issuperset() if s2 is superset of s2

#1
t1 = {1,2,3,4,5,6}
t2 = {1,2,3}
# t1.union(t2)
t1 | t2

#2
# print(t1 & t2)
t1.intersection(t2)

#3
# print(t1 - t2) #t1 ke sare item's jo t2 me present nhi hai

#4
print(t1 ^ t2) #vo item's jo dono me sirf ek baar aye ho

#5
print(1 in t1)
print(1 not in t1)

#6
for i in t1:
    print(i)

#7
t2.isdisjoint(t1) #agar dono me common item hoge to false

#8
t2.issubset(t1)

#9
t2.issuperset(t1)

#10
t3 = t1.copy() #just item's ko copy karega not memory address
print(t3)

{4, 5, 6}
True
False
1
2
3
4
5
6
{1, 2, 3, 4, 5, 6}

In [74]:
#frozenset -> this is immutable version of set's
f1 = frozenset([1,2,3])
f2 = frozenset([4,5,6])
print(f1 | f2)

#it work's for only read operation's like: union, intersection's, etc
#it does not work for write operation's like : updation, deletion, etc

frozenset({1, 2, 3, 4, 5, 6})

In [75]:
#set comprehension
{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

In [81]:
#Dictionary
#creation
#1 empty()
d = {}

#2 1D dict
d = {'name':'vishal', 'age':20, 'gender':'male'}
# print(d)

#3 mixed key's
d = {(1,2,3):1, 'hello':'world'}
print(d)

#2D dict
d = {'name':'vishal','college':'DIT','sem':4,'subject':{ 'dsa':50,'maths':40,'englis':88}}
# print(d)
d['subject']['dsa']

#type conversion

dic = dict([('name','vishal'),('age',19)])
print(dic)

{(1, 2, 3): 1, 'hello': 'world'}
{'name': 'vishal', 'age': 19}