In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame([['Vishal', 20,'18-jul-2005'],['abc',20,'1-jan-2005']], columns=['Name', 'Age', 'DOB'])
df

     Name  Age          DOB
0  Vishal   20  18-jul-2005
1     abc   20   1-jan-2005

In [ ]:
#value_counts(series ans dataframes)
#frequecy counts nikal ke dega pure row ka
df.value_counts()

Name    Age  DOB
Vishal  20   18-jul-2005    1
abc     20   1-jan-2005     1
Name: count, dtype: int64

In [ ]:
df1 = pd.read_csv('/content/ipl-matches.csv')
df2 = pd.read_csv('/content/movies.csv')
df2.shape
df.shape

(2, 3)

In [ ]:
df2.head(1)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,200610.0,Action|Drama|War,9053.1,8770965.0,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)

In [ ]:
mask = df2[(df2['imdb_rating'] > 8) & (df2['imdb_votes'] > 10000)][['title_x']].set_index('title_x')
mask.shape[0]

43

In [ ]:
#dtype
df1['ID'].dtypes

dtype('int64')

In [ ]:
#indx
df1.index

RangeIndex(start=0, stop=950, step=1)

In [ ]:
df2.index

RangeIndex(start=0, stop=1629, step=1)

In [ ]:
#columns
df1.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2'],
      dtype='object')

In [ ]:
df1.values

array([[1312200, 'Ahmedabad', '2022-05-29', ...,
        "['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'LH Ferguson', 'Yash Dayal', 'Mohammed Shami']",
        'CB Gaffaney', 'Nitin Menon'],
       [1312199, 'Ahmedabad', '2022-05-27', ...,
        "['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Parag', 'R Ashwin', 'TA Boult', 'YS Chahal', 'M Prasidh Krishna', 'OC McCoy']",
        'CB Gaffaney', 'Nitin Menon'],
       [1312198, 'Kolkata', '2022-05-25', ...,
        "['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda', 'MP Stoinis', 'E Lewis', 'KH Pandya', 'PVD Chameera', 'Mohsin Khan', 'Avesh Khan', 'Ravi Bishnoi']",
        'J Madanagopal', 'MA Gough'],
       ...,
       [335984, 'Delhi', '2008-04-19', ...,
        "['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif', 'DS Lehmann', 'RA Jadeja', 'M Rawat', 'D Salunkhe', 'SK Warne', 'SK Trivedi', 'MM Patel']",
        'Aleem Dar', 'GA Pratapkumar'],
       [335983, 'Chandigarh', '2008-04-19', ...,
        "['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dhoni', 'SK Raina', 'JDP Oram', 'S Badrinath', 'Joginder Sharma', 'P Amarnath', 'MS Gony', 'M Muralitharan']",
        'MR Benson', 'SL Shastri'],
       [335982, 'Bangalore', '2008-04-18', ...,
        "['SC Ganguly', 'BB McCullum', 'RT Ponting', 'DJ Hussey', 'Mohammad Hafeez', 'LR Shukla', 'WP Saha', 'AB Agarkar', 'AB Dinda', 'M Kartik', 'I Sharma']",
        'Asad Rauf', 'RE Koertzen']], dtype=object)

In [ ]:
df1.head(4)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma

In [ ]:
df1.tail(4)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [ ]:
df1.sample(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
805,419135,Kolkata,2010-04-01,2009/10,30,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Kolkata Knight Riders,bat,N,Kolkata Knight Riders,Runs,24.0,NaN,SC Ganguly,"['SC Ganguly', 'CH Gayle', 'CA Pujara', 'MK Ti...","['HH Gibbs', 'AC Gilchrist', 'MD Mishra', 'A S...",K Hariharan,DJ Harper
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [ ]:
df1.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2'],
      dtype='object')

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [ ]:
df1['City'].fillna('NULL', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    2 non-null      object
 1   Age     2 non-null      int64
 2   DOB     2 non-null      object
dtypes: int64(1), object(2)
memory usage: 180.0+ bytes

/tmp/ipython-input-1196079307.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['City'].fillna('NULL', inplace=True)

In [ ]:
df1['method'].dtypes

dtype('O')

In [ ]:
df1['method'].fillna(1)

0      1
1      1
2      1
3      1
4      1
      ..
945    1
946    1
947    1
948    1
949    1
Name: method, Length: 950, dtype: object

In [ ]:
#describe()
df1.describe()
df2.describe()

       is_adult  year_of_release  imdb_rating     imdb_votes
count    1629.0      1629.000000  1629.000000    1629.000000
mean        0.0      2010.263966     5.557459    5384.263352
std         0.0         5.381542     1.567609   14552.103231
min         0.0      2001.000000     0.000000       0.000000
25%         0.0      2005.000000     4.400000     233.000000
50%         0.0      2011.000000     5.600000    1000.000000
75%         0.0      2015.000000     6.800000    4287.000000
max         0.0      2019.000000     9.400000  310481.000000

In [ ]:
# isnull()
df1.isnull().sum()

ID                   0
City                 0
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            4
WinningTeam          4
WonBy                0
Margin              18
method             931
Player_of_Match      4
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
dtype: int64

In [ ]:
df1.duplicated().sum()

np.int64(0)

In [ ]:
df.columns

Index(['Name', 'Age', 'DOB'], dtype='object')

In [ ]:
df.rename(columns={'Name':'lulla', 'Age':'chulla', 'DOB':'kulla'}, inplace=True)

In [ ]:
df

    lulla  chulla        kulla
0  Vishal      20  18-jul-2005
1     abc      20   1-jan-2005

In [ ]:

#math's function
#sum() axis = 0(cols), axis = 1(rows)

df2.head()
# df2['runtime'] = pd.to_numeric(df2['runtime'])
df2['runtime'] = pd.to_numeric(df2['runtime'], errors='coerce')
df2['runtime'].fillna(df2['runtime'].mean())
df2['runtime'].sum()

np.float64(200610.0)

In [ ]:
#multicol's
df2[['imdb_votes', 'runtime', 'imdb_rating']] =(
     df2[['imdb_votes', 'runtime', 'imdb_rating']].apply(pd.to_numeric, errors = 'coerce')
)
df2[['imdb_votes', 'runtime', 'imdb_rating']].fillna(df2[['imdb_votes', 'runtime', 'imdb_rating']].mean())
df2[['imdb_votes', 'runtime', 'imdb_rating']].sum()

imdb_votes     8770965.0
runtime         200610.0
imdb_rating       9053.1
dtype: float64

In [ ]:
#row's and col's
df1.iloc[1]

ID                                                           1312199
City                                                       Ahmedabad
Date                                                      2022-05-27
Season                                                          2022
MatchNumber                                              Qualifier 2
Team1                                    Royal Challengers Bangalore
Team2                                               Rajasthan Royals
Venue                               Narendra Modi Stadium, Ahmedabad
TossWinner                                          Rajasthan Royals
TossDecision                                                   field
SuperOver                                                          N
WinningTeam                                         Rajasthan Royals
WonBy                                                        Wickets
Margin                                                           7.0
method                                                           NaN
Player_of_Match                                           JC Buttler
Team1Players       ['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...
Team2Players       ['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...
Umpire1                                                  CB Gaffaney
Umpire2                                                  Nitin Menon
Name: 1, dtype: object

In [ ]:
# iloc[start index: end_index: step's] and loc[start_idx, end_idx, step]

df2.iloc[0:3]
df2.loc[0:3]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138.0,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131.0,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112.0,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121.0,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)

In [ ]:
#selecting both row and col's

df1.iloc[0:3, 0:3]

        ID       City        Date
0  1312200  Ahmedabad  2022-05-29
1  1312199  Ahmedabad  2022-05-27
2  1312198    Kolkata  2022-05-25

In [ ]:
df1.head(1)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon

In [ ]:
df1[df1['MatchNumber'] == 'Final'][['Season','MatchNumber','WinningTeam']]

      Season MatchNumber            WinningTeam
0       2022       Final         Gujarat Titans
74      2021       Final    Chennai Super Kings
134  2020/21       Final         Mumbai Indians
194     2019       Final         Mumbai Indians
254     2018       Final    Chennai Super Kings
314     2017       Final         Mumbai Indians
373     2016       Final    Sunrisers Hyderabad
433     2015       Final         Mumbai Indians
492     2014       Final  Kolkata Knight Riders
552     2013       Final         Mumbai Indians
628     2012       Final  Kolkata Knight Riders
702     2011       Final    Chennai Super Kings
775  2009/10       Final    Chennai Super Kings
835     2009       Final        Deccan Chargers
892  2007/08       Final       Rajasthan Royals

In [ ]:
(df1['SuperOver'] == 'Y').sum()

np.int64(14)

In [ ]:
df1.head(1)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon

In [ ]:
df1[(df1['City'] == 'Kolkata') & (df1['WinningTeam'] == 'Chennai Super Kings')].shape[0]

5

In [ ]:
df1.head(1)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon

In [ ]:
ipl = df1[(df1['TossWinner']) == (df1['WinningTeam'])][['TossWinner', 'WinningTeam']]
cnt = ipl.shape[0]

shapecnt = df1.shape[0]

percentage = (cnt / shapecnt) * 100
print(percentage)

51.473684210526315

In [ ]:
df2.head(1)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138.0,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)

In [ ]:
df2.head(1)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138.0,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)

In [ ]:
df2[(df2['genres'].str.split('|').apply(lambda x: 'Action' in x)) & (df2['imdb_rating'] > 7.5)][['title_x', 'genres','imdb_rating']].set_index('title_x')

                                                genres  imdb_rating
title_x
Uri: The Surgical Strike              Action|Drama|War          8.4
Family of Thakurganj                      Action|Drama          9.4
Mukkabaaz                           Action|Drama|Sport          8.1
Raazi                            Action|Drama|Thriller          7.8
Parmanu: The Story of Pokhran     Action|Drama|History          7.7
Bhavesh Joshi Superhero                   Action|Drama          7.6
The Ghazi Attack                   Action|Thriller|War          7.6
Raag Desh (film)                  Action|Drama|History          8.3
Irudhi Suttru                       Action|Drama|Sport          7.6
Laal Rang                           Action|Crime|Drama          8.0
Udta Punjab                         Action|Crime|Drama          7.8
Dangal (film)                   Action|Biography|Drama          8.4
Bajrangi Bhaijaan                  Action|Comedy|Drama          8.0
Baby (2015 Hindi film)                 Action|Thriller          8.0
Detective Byomkesh Bakshy!     Action|Mystery|Thriller          7.6
Titli (2014 film)                Action|Drama|Thriller          7.6
Haider (film)                       Action|Crime|Drama          8.1
Vishwaroopam                           Action|Thriller          8.2
Madras Cafe                      Action|Drama|Thriller          7.7
Paan Singh Tomar (film)         Action|Biography|Crime          8.2
Gangs of Wasseypur                 Action|Comedy|Crime          8.2
Gangs of Wasseypur  Part 2        Action|Comedy|Crime          8.2
Jodhaa Akbar                      Action|Drama|History          7.6
1971 (2007 film)                      Action|Drama|War          7.9
Black Friday (2007 film)            Action|Crime|Drama          8.5
Omkara (2006 film)                  Action|Crime|Drama          8.1
Sarkar (2005 film)                  Action|Crime|Drama          7.6
Sehar                               Action|Crime|Drama          7.8
Lakshya (film)                    Action|Drama|Romance          7.9
Gangaajal                           Action|Crime|Drama          7.8
Company (film)                      Action|Crime|Drama          8.0
The Legend of Bhagat Singh      Action|Biography|Drama          8.1
Nayak (2001 Hindi film)          Action|Drama|Thriller          7.8