In [ ]:
import pandas as pd
import numpy as np

In [ ]:
index_val = [('CSE', 2019), ('AIDS', 2024)]
idx = pd.MultiIndex.from_tuples(index_val)
idx.levels[0]

Index(['AIDS', 'CSE'], dtype='object')

In [ ]:
new_idx = pd.MultiIndex.from_product([['AI', 'CS'],[2019, 2020, 2021]])
new_idx

MultiIndex([('AI', 2019),
            ('AI', 2020),
            ('AI', 2021),
            ('CS', 2019),
            ('CS', 2020),
            ('CS', 2021)],
           )

In [ ]:
mulidx = pd.Series([1,2,3,4,5,6], index=new_idx)

In [ ]:
#unstack
mulidx.unstack()

    2019  2020  2021
AI     1     2     3
CS     4     5     6

In [ ]:
branch_df = pd.DataFrame(
    [
        [1,2,0,0],
        [3,4,0,9],
        [5,6,8,0],
        [7,5,8,0],
    ],
    index=[2019,2020,2021,2022],
    columns= pd.MultiIndex.from_product([['delhi','mumbai'], ['avg_package', 'students']])
)

branch_df

           delhi               mumbai
     avg_package students avg_package students
2019           1        2           0        0
2020           3        4           0        9
2021           5        6           8        0
2022           7        5           8        0

In [ ]:
mulidx

AI  2019    1
    2020    2
    2021    3
CS  2019    4
    2020    5
    2021    6
dtype: int64

In [ ]:
mulidx.unstack().unstack()

2019  AI    1
      CS    4
2020  AI    2
      CS    5
2021  AI    3
      CS    6
dtype: int64