In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#list ko use kar ke kaise series bana sakte hai

In [ ]:
country = ['india', 'austrelia','china', 'nepal']

pd.Series(country)

0        india
1    austrelia
2        china
3        nepal
dtype: object

In [ ]:
runs = [13,56,87,96,100,102]
pd.Series(runs)

0     13
1     56
2     87
3     96
4    100
5    102
dtype: int64

In [ ]:
#index=
subject = ['marathi', 'hindi','english','maths','science']
marks = [99,89,78,98,95]
h = pd.Series(marks, index=subject)

h.size

5

In [ ]:
#Name

pd.Series(marks, index= subject, name = 'Vishal ke marks')

marathi    99
hindi      89
english    78
maths      98
science    95
Name: Vishal ke marks, dtype: int64

In [ ]:
dic = {
    'maths':86,
    'marathi':78,
    'english':98,
    'hindi':100,
    'Science':87
}

k = pd.Series(dic, name = "vishal ke marks")
k.name

'vishal ke marks'

In [ ]:
k.dtype
k.name
k.is_unique
k.index
k.values

array([ 86,  78,  98, 100,  87])

In [ ]:
s = pd.read_csv("bollywood.csv", index_col='SlNo')
s.drop(["ReleaseDate","ReleaseTime", "Genre","YoutubeLikes","YoutubeDislikes"], axis=1, inplace=True)
n = s
n
n.head()

n.tail()

                      MovieName  Budget  BoxOfficeCollection  YoutubeViews
SlNo
145             DumLagaKeHaisha      15                30.00       3250917
146                        NH10      13                32.10       5592977
147   DilliwaliZaalimGirlfriend      32                12.00       2316047
148                    Hunterrr       5                11.89       4674795
149               Kochadaiiyaan     150               120.00       4740727

In [ ]:


x = pd.read_csv("/content/kohli_ipl.csv", index_col='match_no')
x

          runs
match_no
1            1
2           23
3           13
4           12
5            1
...        ...
211          0
212         20
213         73
214         25
215          7

[215 rows x 1 columns]

In [ ]:
#Random Row Ko generate krega .sample(NUM)
n.sample()

     MovieName  Budget  BoxOfficeCollection  YoutubeViews
SlNo
52       Aatma       8                 8.78        841891

In [ ]:
#by defult top 5 head ko return krega .head(num)
n.head()

            MovieName  Budget  BoxOfficeCollection  YoutubeViews
SlNo
1             2States      36               104.00       8576361
2          TableNo.21      10                12.00       1087320
3     AmitSahniKiList      10                 4.00        572336
4     RajdhaniExpress       7                 0.35         42626
5         BobbyJasoos      18                10.80       3113427

In [ ]:
#by defult down 5 ko return krega .tail(num)
n.tail()

                      MovieName  Budget  BoxOfficeCollection  YoutubeViews
SlNo
145             DumLagaKeHaisha      15                30.00       3250917
146                        NH10      13                32.10       5592977
147   DilliwaliZaalimGirlfriend      32                12.00       2316047
148                    Hunterrr       5                11.89       4674795
149               Kochadaiiyaan     150               120.00       4740727

In [ ]:
#ye frequency count ke kaam ata hai .value_counts('ColName')
n.value_counts('Budget')

Budget
10     12
15     10
12      9
5       9
30      9
35      8
50      7
24      5
40      5
18      4
25      4
20      4
4       4
16      3
2       3
11      3
7       3
75      3
60      3
27      3
100     2
36      2
6       2
8       2
90      2
85      2
31      2
21      2
22      2
3       1
14      1
13      1
9       1
19      1
33      1
32      1
28      1
23      1
26      1
29      1
48      1
70      1
42      1
45      1
115     1
120     1
125     1
140     1
150     1
Name: count, dtype: int64

In [ ]:
#solt_values -> ye values ko sort karne me kaam ata hai
x.sort_values("runs",inplace=True)
x

          runs
match_no
8            0
87           0
93           0
91           0
206          0
...        ...
164        100
120        100
123        108
126        109
128        113

[215 rows x 1 columns]

In [ ]:
#sort_index(inplace =) -> ye index ko sort karega

n.sort_index(inplace = True)

In [ ]:
# .count() ye total no of item's ko calculate kare ke return karega but ye missing values ko ignore karega

n.count()

MovieName              149
Budget                 149
BoxOfficeCollection    149
YoutubeViews           149
dtype: int64

In [ ]:
#.size -> ye total no of item's ko calculate kar ke return karega but ye missing valus ko bhi calculate karega

n.size

596

In [ ]:
x

          runs
match_no
8            0
87           0
93           0
91           0
206          0
...        ...
164        100
120        100
123        108
126        109
128        113

[215 rows x 1 columns]

In [ ]:
x.sum()
x.product()

runs    0
dtype: int64

In [ ]:
#mean, median, mode, std, var

print(x.mean())
print(x.median())
print(x.mode())
print(x.std())
print(x.var())

runs    30.855814
dtype: float64
runs    24.0
dtype: float64
   runs
0     0
runs    26.229801
dtype: float64
runs    688.002478
dtype: float64

In [ ]:
x.min()
x.max()

runs    113
dtype: int64

In [ ]:
#describe()

x.describe()

             runs
count  215.000000
mean    30.855814
std     26.229801
min      0.000000
25%      9.000000
50%     24.000000
75%     48.000000
max    113.000000

In [ ]:
#
n.describe()

           Budget  BoxOfficeCollection  YoutubeViews
count  149.000000           149.000000  1.490000e+02
mean    29.442953            55.667248  3.337920e+06
std     28.237981            94.494531  3.504407e+06
min      2.000000             0.010000  4.354000e+03
25%     11.000000             8.780000  1.076591e+06
50%     21.000000            28.000000  2.375050e+06
75%     35.000000            57.450000  4.550051e+06
max    150.000000           735.000000  2.317107e+07

In [ ]:
#series indexing

x = pd.Series([i for i in range(9)])
x[1]

np.int64(1)

In [ ]:
#series with python functionalities

#len/type/dir/sorted/max/min
print(len(n))
print(type(n))
print("dir ",dir(n))
print("Sorteed: ", sorted(n))
print("max: ", max(n))
print("min: " ,min(n))

149
<class 'pandas.core.frame.DataFrame'>
dir  ['BoxOfficeCollection', 'Budget', 'MovieName', 'T', 'YoutubeViews', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__arrow_c_stream__', '__bool__', '__class__', '__contains__', '__copy__', '__dataframe__', '__dataframe_consortium_standard__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pandas_priority__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_agg_examples_doc', '_agg_see_also_doc', '_align_for_op', '_align_frame', '_align_series', '_append', '_arith_method', '_arith_method_with_reindex', '_as_manager', '_attrs', '_box_col_values', '_can_fast_transpose', '_check_inplace_and_allows_duplicate_labels', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_combine_frame', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_from_mgr', '_constructor_sliced', '_constructor_sliced_from_mgr', '_create_data_for_split_and_tight_to_dict', '_data', '_deprecate_downcast', '_dir_additions', '_dir_deletions', '_dispatch_frame_op', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_flags', '_flex_arith_method', '_flex_cmp_method', '_from_arrays', '_from_mgr', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cleaned_column_resolvers', '_get_column_array', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values_for_csv', '_getitem_bool_array', '_getitem_multilevel', '_getitem_nocopy', '_getitem_slice', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_copy', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_is_view_after_cow_rules', '_iset_item', '_iset_item_mgr', '_iset_not_inplace', '_item_cache', '_iter_column_arrays', '_ixs', '_logical_func', '_logical_method', '_maybe_align_series_as_frame', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_mgr', '_min_count_stat_function', '_needs_reindex_multi', '_pad_or_backfill', '_protect_consolidate', '_reduce', '_reduce_axis1', '_reindex_axes', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_columnwise', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_series', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_item', '_set_item_frame_value', '_set_item_mgr', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_shift_with_freq', '_should_reindex_frame_op', '_slice', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_dict_of_blocks', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isetitem', 'isin', 'isna', 'isnull', 'items', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_orc', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs']
Sorteed:  ['BoxOfficeCollection', 'Budget', 'MovieName', 'YoutubeViews']
max:  YoutubeViews
min:  BoxOfficeCollection

In [ ]:
#type conversiion

list(n)

['MovieName', 'Budget', 'BoxOfficeCollection', 'YoutubeViews']

In [ ]:
dict(n)

{'MovieName': SlNo
 1                        2States
 2                     TableNo.21
 3                AmitSahniKiList
 4                RajdhaniExpress
 5                    BobbyJasoos
                  ...
 145              DumLagaKeHaisha
 146                         NH10
 147    DilliwaliZaalimGirlfriend
 148                     Hunterrr
 149                Kochadaiiyaan
 Name: MovieName, Length: 149, dtype: object,
 'Budget': SlNo
 1       36
 2       10
 3       10
 4        7
 5       18
       ...
 145     15
 146     13
 147     32
 148      5
 149    150
 Name: Budget, Length: 149, dtype: int64,
 'BoxOfficeCollection': SlNo
 1      104.00
 2       12.00
 3        4.00
 4        0.35
 5       10.80
         ...
 145     30.00
 146     32.10
 147     12.00
 148     11.89
 149    120.00
 Name: BoxOfficeCollection, Length: 149, dtype: float64,
 'YoutubeViews': SlNo
 1      8576361
 2      1087320
 3       572336
 4        42626
 5      3113427
         ...
 145    3250917
 146    5592977
 147    2316047
 148    4674795
 149    4740727
 Name: YoutubeViews, Length: 149, dtype: int64}

In [ ]:
#membership operator(in or not in)

'2 States (2014 film)' in n.values

False

In [ ]:
for i in n.MovieName:
  print(i)

2States
TableNo.21
AmitSahniKiList
RajdhaniExpress
BobbyJasoos
Citylights
Daawat-E-Ishq
MatruKiBijleeKaMandola
DedhIshqiya
Gangoobai
Dishkiyaoon
Inkaar
EkVillain
MumbaiMirror
Entertainment
Bandook
Race2
Filmistaan
FindingFanny
Fugly
David
GulaabGang
Gunday
Haider
HappyEnding
Special26
HappyNewYear
ABCD_AnyBodyCanDance
HateStory2
HawaaHawaai
Heartless
Murder3
Heropanti
KaiPoChe!
Highway
ZillaGhaziabad
Holiday
HumptySharmaKiDulhania
TheAttacksof26/11
Humshakals
Saheb,BiwiAurGangsterReturns
JaiHo
Khoobsurat
Kick
3G
KillDil
MereDadKiMaruti
JollyLLB
Koyelaanchal
KyaDilliKyaLahore
LekarHumDeewanaDil
Aatma
MainTeraHero
SonaSpa
Himmatwala
Manjunath
Mardaani
ChashmeBaddoor
MaryKom
NautankiSaala
Mastram
Commando-AOneManArmy
EkThiDaayan
MissLovely
Aashiqui2
OTeri
OnebyTwo
PuraniJeans
ShootoutatWadala
Queen
BombayTalkies
RaginiMMS2
GoGoaGone
RajaNatwarlal
RevolverRani
ShaadiKeSideEffects
Aurangzeb
Sholay3D
SinghamReturns
TheShaukeens
IshkqinParis
Ungli
YehJawaaniHaiDeewani
Yaariyan
YamlaPaglaDeewana2
YehHaiBakrapur
Youngistaan
Fukrey
Zid
PK
Raanjhanaa
ActionJackson
BangBang
ShortcutRomeo
Creature
Ghanchakkar
Besharam
Lootera
Pizza3D
TheXpose
Policegiri
BhaagMilkhaBhaag
Kaanchi
SamratandCo.
B.A.Pass
RamaiyaVastavaiya
Bewakoofiyan
DDay
Darr@TheMall
Issaq
HaseeToPhansee
BajateyRaho
MrJoeBCarvalho
Nasha
BhootnathReturns
ChennaiExpress
OnceUponAyTimeInMumbaiDobaara!
MadrasCafe
Satyagraha
Krrish3
TotalSiyappa
Satya2
Rajjo
GoriTerePyaarMein
BullettRaja
WarChhodNaYaar
BaatBanGayi
Boss
Shahid
MickeyVirus
Zanjeer
ShuddhDesiRomance
GrandMasti
ChildrenOfWar
PhataPosterNiklaHero
TheLunchbox
Tevar
Alone
Baby
Hawaizaada
Khamoshiyan
Shamitabh
Roy
Badlapur
DumLagaKeHaisha
NH10
DilliwaliZaalimGirlfriend
Hunterrr
Kochadaiiyaan

In [ ]:
#Arithmatic operator
100 * x

0      0
1    100
2    200
3    300
4    400
5    500
6    600
7    700
8    800
dtype: int64

In [ ]:
x >= 50

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool